   *{
            margin: 0;
            padding: 0;
        }
        header{
            width: 100%;
            height: 50px;
            background-color: #0086b3;
            text-align: center;
            line-height: 50px;
            color: #fff;
            font-size: 22px;
            letter-spacing: 6px;
        }
        footer{
            width: 100%;
            display: flex;
            height: 46px;
            position: fixed;
            bottom: 0;
        }
        footer div{
            flex-grow: 1;
            font-size: 17px;
            text-align: center;
            line-height: 46px;
            color: #fff;
        }
        .grxx{
           background-color: #0086b3;
        }
        .yjye{
            background-color: cadetblue;
        }
        .jsjl{
            background-color: aqua;
        }
        .message table{
            display: block;
            width: 92%;
            height: auto;
            margin: 0 auto;
            margin-top: 35px;
        }
        .message table td{
            width: 50%;
            height: 45px;
            text-align: center;
            line-height: 45px;
            font-size: 18px;
        }
        .message table tr td:first-child{
            color: #795da3;
        }
        .money p{
            width: 92%;
            height: 45px;
            background-color: orange;
            margin:0 auto;
            font-size: 16px;
            color: gray;
            border: 1px solid #666666;
            margin-top: 20px;
            margin-bottom: 50px;
        }
        .jie p{
            width: 92%;
            height: 45px;
            background-color: orange;
            margin:0 auto;
            font-size: 16px;
            color: gray;
            border: 1px solid #666666;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .lgh{
            margin-top: 40px;
            width: 92%;
            height: 49px;
            margin: 0 auto;
            border:1px solid #55a532;
            border-radius: 6px;
        }
        .lgh span:nth-child(1){
            display: inline-block;
            width: 50%;
            background-color: #55a532;
            color: #fff;
            font-size: 19px;
            line-height: 49px;
            text-align: center;
        }
        .lgh span:nth-child(2){
            display: inline-block;
            width: 48%;
            color: #0086b3;
            font-size: 19px;
            line-height: 49px;
            text-align: center;
        }
        .chong{
            display: block;
            width: 92%;
            text-decoration: none;
            height: 49px;
            margin: 0 auto;
            background-color: #0086b3;
            border-radius: 6px;
            color: #fff;
            font-size: 21px;
            text-align: center;
            line-height: 49px;
            letter-spacing: 6px;
            margin-top: 30px;
        }
        .jie table{
            margin-top:8px;
            width: 92%;
            margin: 0 auto;

        }
        .jie table tr {
            width: 100%;
            height: 35px;
        }
        .jie table tr td{
            line-height: 35px;
            text-align: center;
            font-size: 15px;
            color: #666666;
            border-bottom: 1px dotted #0086b3;
        }